.quick-link-box {
  width: 7.5%;              
  aspect-ratio: 1 / 1;      
  background-color: orange;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 500;
  transition: transform 0.2s;
  min-width: 60px;
}

.quick-link-box:hover {
  transform: scale(1.05);
}
